.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
/.swiftpm/xcode/package.xcworkspace/*
/.swiftpm/xcode/xcuserdata/*
/DroidKaigi Feeder/DroidKaigi Feeder/Release/

# SwiftGen generated
Generated/

# LicensePlist generated
com.mono0926.LicensePlist/
com.mono0926.LicensePlist.*
